{% extends 'cv/base.html'%}



{% block content %}

<div class="container">
    <div style="color: beige;">
       <center><h1>Curriculum Vitae</h1></center> 
       <p>Urbanizacion Matalinda, sector Villas calle "C", 44-C</p>
       <p>Charallave Edo. Miranda</p>
       <p>Email: matm2491@gmail.com</p>
       <P>Tlf. 0424.159.19.51</P>
       <p>Cedula: 19.452.896</p>
       <p>Fecha de nacimiento: 02/04/1991</p>
       <p>Edad: 29</p>
       <p>Estado civil: Soltero</p>

        <center> <h3>Formacion Academica</h3></center>
        <p><H5>Liceo Jose Gregorio Hernandez</H5></p>
        <p>Bachiller mencion ciencias</p>
        <P><H5>Universidad Colegio universitario de caracas</H5></P>
        <p>(2015-2018)</p>
        <p>TSU en informatica a la espera de la entrega del titulo</p>
        
        <center><h1>Experiencia Laboral</h1></center>
        <p><h5>marzo-junio 2013</h5></p>
        <p>Person to Person Banesco call center</p>
        <p>operador de TDC(tarjeta de credito)</p>
        <br>
        <p><h5>Febrero-Mayo 2014</h5></p>
        <p>Club Mileanium Caribeam Ejecutivo de Cuenta</p>
        <br>
        <p><h5>Abril-septiembre 2014-2016</h5></p>
        <p>Colegio de medico consultorio juridico santa fe</p>
        <P>analista de soporte tecnico</p>
        <br>
        <P><H5>18 Abril- 18 Octubre del 2018</H5></P>
        <p>BECKESANTOS contratista de DHL Global</p>
        <p>analista de soporte tecnico</p>
        <p>Cargo Tecnico III</p>
        <br>
        <p><h5>Defensa Publica sede central</h5></p>
        <p>25 de marzo del 2019 hasta la fecha</p>
        <p>Tecnico III</p>
        Desarrollador web Python-Django
        <br>
        <center><h1> Cursos </h1></center>
        <p>Soporte tecnico a usuarios y equipos informativcos</p>
        <p>en el colegio universitario de caracas</p>
        <p>Platzi: python3 y Django</p>

        <center><h1>Habilidades y Destrezas</h1></center>

        <p>Puntual</p>
        <p>Se trabajar en equipo</p>
        <p>Habilidad en buscar informacion</p>
        <p>Siempre dispuesto a aprender</p>
        <p>Capacidad para tomar dicisiones</p>
        <p>Persistencia y constancia para obetener resultados deseados</p>
        <p>Buena capacidad para adaptarse a los cambios </p>
        <p>Se trabajar bajo presion</p>
        <p>Capacidad de liderazgo</p>

    </div>

</div>



{% endblock %}