{% extends 'cv/base.html'%}

{% block content %}




    {% for comentario in comentarios %}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/img/principal.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-upper">{{comentario.name}} {{comentario.last_name}}</span>
                <span class="section-heading-lower">{{comentario.title}}</span>
              </h2>
              <p class="mb-3" style="color: black;">{{comentario.comments}}
              </p>
             
            </div>
          </div>
        </div>
      </section>

      

</div>    
    {% endfor %}
    <li class="nav-item px-lg-4">
      <a class="nav-link text-uppercase text-expanded" href="{% url 'forms' %}">comentarios</a>
    

      {% if 'valido' in request.GET %}

<script>
  window.alert('Muchas gracias por tu comentario');
</script>

{% endif %}
{% endblock %}
