{% extends 'cv/base.html' %}

    {% block headcontent %}
        {% endblock %}

</head>
<body>
    {% block content %}
   
 <!-- Heading -->
 <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/img/principal.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Cconocimiento</span>
            <span class="section-heading-lower">python</span>
          </h2>
          <p class="mb-3">Portafolio hecho con Html, Css, Bootstrap4, Python-Django
          </p>
         
        </div>
      </div>
    </div>
  </section>









<!-- Message -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
           <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Compromiso total</span>
               <span class="section-heading-lower">Objetivo</span>
            </h2>
                <p class="mb-0"> Soy una persona orientada hacia las metas y objetivos de la organizacion,
                    aplicando mis conocimientos para logra asi un trabajo coordinado que permita el crcimiento
                    de la empresa asi como el mio personal y prefesional.
                </p>
        </div>
      </div>
    </div>
  </div>
</section>
    {% endblock %}
   
</body>
</html>